nav{
display: flex;
flex-direction: column;
align-items: center;

}

#logo {
	height: 200px;
	width: 400px;
	margin-bottom: 20px;
	;

}

#mainimage  {
	display: block;
	max-height: 350px;
	max-width: 940px;
	margin: 70px auto;
	overflow: hidden;


}
hr {
	width: 940px;

}
#logo{

}
#socialmedia{
	font-size: 27px;
}

/* Following affects Reservations form*/

input > #name {
  width: 275px;
}

#date{
  width:75px;
}
textarea {
  display: block;
  margin: 10px;
  margin-left: 0px;
}

#seating {
  margin: 10px 10px 10px 0px;
  width: 100px;
}

.labels {
  font-weight: bolder;
  font-family: sans-serif;
}

#reserve-button {
  border-radius: 2px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 16px;
  border:black;
}

/* Above affects Reservations form */

.hidden-cont {
	display: none;
}

.cont {
	display: block;
}

/* mid-bar news---specials---the other things whatever it's call */
#storeinfo-container {
	display: flex;
	width: 85%;
	justify-content: space-between;
	margin-bottom: 50px;
	margin: 20px auto;
}
.storeinfo{
		position: relative;
    max-width: 300px;
		max-height: 240px;
		width: 300px;
		height: 240px;
		border: 1px solid lightgrey;
		display: block;
		overflow: hidden;
		font-size: 12px;
		padding: 5px;


		.info-header {
			display: block;
			padding: 2px 0px;
			margin-bottom: 5px;
		}
		#post-title {
			margin: 2px 0px;
			border-bottom: 1px solid black;
			padding: 2px 0px;
			display: inline-block
		}

		#date {
			position: absolute;
			top: 7px;
			right: 5px;
			font-size: 8px;
			display: inline;
			text-align: right;

		}
}

#blog {
	overflow: scroll;
	.info-header {
		border-bottom: 1px dotted grey;
	}

}


/* Specials */

.storeinfo > img {
	width: 265px;
	height: 100px;
	margin-left: 16px;
}


/* Map */

div#map.storeinfo {
	width:400px;
}

#photos {
		float: right;
		margin-right: 85px;
		list-style: none;
		li img {
			height: 225px;
			width: 225px;
			clear: both;
			margin-bottom: 25px;

		}
}

.each-tab {
	height: 25px;
	width: 75px;
	font-size: 14px;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	border-bottom: none;
	text-align: center;

}

#tabscontainer {
	display: flex;
	flex-direction: row
}

.tab-content {
	width: 50%;
	display: inline-block;
}
